
#top img{
    width:80px;
    height: 37px;
   
    
}
 a{
  text-align: right;  
}
#top{
  height: 37px;
  width:100%;
  /* border:1px solid red; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
 
  
}

#top1{
  height: 37px;
  width:70%;
  padding-top: 10px;
  text-align: center;
 
  /* border:1px solid green; */
  
}



/* search box */

#search{

padding-top: 120px;
padding-left: 30px;
border:white;
margin:auto;

}
#search > i{
	color: #777;
  height:35px;
  width:35px;
  position: absolute;
  left:480px;
  padding-top: 12px;
  
}
#search > input{
  padding-left: 35px;
}
.search{
  height:40px;
  width:610px;
  margin: auto;
  display:flex;
  border-radius: 30px;
  border:white;
 
}
#background{
  height:300px;
  width:100%;
  margin-top: 20px;
  /* border:1px solid red; */
  background: url(https://theme.zdassets.com/theme_assets/1612443/d214b970a5c2a51ac648138ebda4c206924c9dd7.jpg);
}







#box{
  height:460px;
  width:80%;
  margin-top: 100px;;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,100px);
  gap:10px;
  justify-content: space-evenly;
  padding-left: 150px;
}
#b1{
  height:64px;
  width:350px;
  border:1px solid #03514e;
  color:#03514e;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 10px;
  

}
#b1:hover {
  background-color: #03514e;
  color:white;
}
#lastbox{
  height:64px;
  width:1168px;
  border:1px solid #03514e;
  color:#03514e;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: auto;
  margin-left: 150px;
  padding-top: 10px;
}
#lastbox:hover {
  background-color: #03514e;
  color:white;
}
#lastbox1{
  height:64px;
  width:1168px;
  margin: auto;

}
#h2{
  font-style: normal;
}
#bottom{
  height:70px;
  width:1168px;
  /* border:1px solid red; */
  color:rgba(48, 48, 48, 1);
  cursor: pointer;
  display: flex;
  margin:auto;
 

}
#bott{
  height:70px;
  width:100%;
  /* border:1px solid green; */
  display: flex;

color:#303030;

}
#bottomlast{
  
  height:70px;
  width:1168px;
  /* border:1px solid red; */

  color:rgba(48, 48, 48, 1);
  cursor: pointer;
  margin:auto;
  margin-top:100px;
  padding-top: 20px;
color:#636363;
}